* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


table{
  position: absolute;
  width: 64%; 
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
}
td , th{
  padding: 15px 20px;
  text-align: center;
}
th{
  background-color: #CBAD4C;
  color: #fafafa;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}
tr{
  width: 100%;
  background-color: #fafafa;
  font-family: 'Lato', sans-serif;
}

tr:nth-child(even){
  background-color: #eeeeee;
}

.action-icon{
  color: #404724;
}


/* OLD CSS */
body {
  background: #e9e9e9;
  overflow-x: hidden;
  padding-top: 90px;
  font-family: 'Lato', sans-serif;
  margin: 0 100px;
}