{% extends 'base.html.twig' %}

        {% block title %}CRE | Home{% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        {% endblock %}

        {% block main %}

            <h1>Successfully registered!</h1>

        {% endblock main %}

        {% block javascripts %}
            <script src="{{ asset('js/base.js') }}"></script>
        {% endblock javascripts %}
