{% extends 'base.html.twig' %}

        {% block title %}CRE | User Profile Page{% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% endblock %}

        {% block main %}

<body>

</body>

{% endblock main %}
{% block javascripts %}
<script src="{{ asset('js/profilepage.js') }}"></script>
{% endblock javascripts %}