
  
{% extends 'base.html.twig' %}

        {% block title %}CRE | User Profile Page{% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/profilepage.css') }}">
            <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
        {% endblock %}

        {% block main %}

<body>
    
 <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">

  <div class="container">
      <div class="profile-header">
          <div class="profile-img">
              <img width="200" alt="Profile Image" src= "{{ asset('img/default.jpg') }}">
          </div>

      <div class="profile-nav-info">
          <h3 class="user-name">Terry Green</h3>
          <div class="address">
              <p id="role" class="role">User - MY COMMENT HISTORY</p>
          </div>
  
      </div>
      </div>
  
    <div class="main-bd">
      <div class="left-side">
        <div class="profile-side">
          <p class="user-mail"><i class="fa fa-envelope"></i> terrygreen@gmail.com</p>
          <div class="user-bio">
            <h3>Bio</h3>
            <p class="bio">
              Lorem ipsum dolor sit amet, hello how consectetur adipisicing elit. Sint consectetur provident magni yohoho consequuntur, voluptatibus ghdfff exercitationem at quis similique. Optio, amet!
            </p>
          </div>
          <div class="profile-btn">
            <button class="createbtn" id="Create-post"><i class="fa fa-plus"></i> READ</button>
          </div>

        </div>
        
      </div>

      <div class="right-side">
    

          <table >

 

            <tr>
                <th>Date</th>
                <th>Post Title</th>
                <th>My Comment </th>
            </tr>
           
           
             <tr>
                <td>23-01-2020</td>
                <td>My First Time in the Kruger</td>
                <td>Beautiful pictures! Thanks for Sharing!</td>
            </tr>
           
            <tr>
           
              <td>23-01-2020</td>
              <td>My First Time in the Kruger</td>
              <td>Beautiful pictures! Thanks for Sharing!</td>
           
            </tr>
           
            <tr>
           
              <td>23-01-2020</td>
              <td>My First Time in the Kruger</td>
              <td>Beautiful pictures! Thanks for Sharing!</td>
           
            </tr>
           
            <tr>
           
              <td>23-01-2020</td>
              <td>My First Time in the Kruger</td>
              <td>Beautiful pictures! Thanks for Sharing!</td>
           
            </tr>
           
            <tr>
           
              <td>23-01-2020</td>
              <td>My First Time in the Kruger</td>
              <td>Beautiful pictures! Thanks for Sharing!</td>
           
            </tr>
           
            <tr>
              <td>23-01-2020</td>
              <td>My First Time in the Kruger</td>
              <td>Beautiful pictures! Thanks for Sharing!</td>
           
            </tr>
           
            <tr>
           
              <td>23-01-2020</td>
              <td>My First Time in the Kruger</td>
              <td>Beautiful pictures! Thanks for Sharing!</td>
           
            </tr>
           
            <tr>
           
              <td>23-01-2020</td>
              <td>My First Time in the Kruger</td>
              <td>Beautiful pictures! Thanks for Sharing!</td>
           
            </tr>
           
            </table>



        </div>

        
          </div>
          
        </div>



</body>



{% endblock main %}
        {% block javascripts %}
            <script src="{{ asset('js/profilepage.js') }}"></script>
        {% endblock javascripts %}